<div class="container" *ngIf="users$ | async as user">
    <div routerLink="/movies" class="go-back">
        <img src="../../assets/img/arrow-left.svg" />
    </div>
    <h1 class="title">News</h1>
    <h3 class="subtitle">Explorez ce que regarde vos amis</h3>
    <button (click)="aled()">aled</button>
    <tp-movies-public-profile-container *ngFor="let singleUser of user" [displayName]="singleUser.finalUser.displayName"
        [userUid]="singleUser.finalUser.uid"
        [photoURL]="singleUser.finalUser.photoURL"></tp-movies-public-profile-container>
</div>
