@import '../../variables';

.container {
    background-color: $black;
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    padding: 40px;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 15px;
    margin-bottom: 30px;
}

.option-items-img {
    width: 10px;
    height: 10px;
}
.user-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $white;
}

.user-email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $grey;
}

.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: $white;
}

.public-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    position: relative;
    background-color: $grey;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.public-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
}

.films-section {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

.public-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.films-content {
    display: flex;
    justify-content: space-around;
}

.go-back {
    cursor: pointer;
    background-color: $grey;
    position: absolute;
    left: 6.93%;
    right: 85.07%;
    top: 2.93%;
    bottom: 93.41%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}