<div class="container">
    <div routerLink="/profile" class="go-back">
        <img src="../../assets/img/arrow-left.svg" />
    </div>
    <h3 class="title">Change your password</h3>
    <div class="option-container">
        <div class="option-items">
            <p class="title">Password</p>
            <form [formGroup]="passwordForm">
                <input type="password" formControlName="password" required />
            </form>
            <div class="button-container">
                <button type="button" (click)="changePassword()" class="submit">Submit</button>
            </div>
        </div>
        <div *ngIf="changed" class="title">Password changed !</div>
        <div *ngIf="errorChangingPassword" class="title">Please log in again to change your password</div>
    </div>
</div>
<tp-movies-footer></tp-movies-footer>
