<header class="header-wrapper">
    <!-- <nav>
        <ul class="link-wrapper">
            <li>
                <a href="#">Films</a>
            </li>
            <li>
                <a href="#">Series</a>
            </li>
            <li>
                <a href="#">Documentaire</a>
            </li>
        </ul>
    </nav> -->
        <span id="logo">
            <img src="../../assets/img/logo.svg" alt="" />
            <span class="header-title">Ndelok</span>
        </span>
        <span class="header-notification">
            <img src="../../assets/img/notifications.svg" alt="" />
        </span>
</header>