<header class="header-wrapper">
    <span id="logo">
        <img src="../../assets/img/logo.svg" alt="Logo" />
        <span class="header-title">Ndelok</span>
    </span>
    <span class="header-notification">
        <img (click)="notifications()" src="../../assets/img/notifications.svg" alt="Notification Icon" />
        <div class="container-notification" *ngIf="notificationIsOpen">
            <p class="activites-flux"> Flux d'activité </p>
            <ul>
                <li *ngFor="let item of items | async">
                  {{ item }}
                </li>
              </ul>
        </div>
    </span>
</header>
