<footer>
    <ul>
        <li class="home-link-container">
            <a routerLink="/movies">
                <img src="../../assets/img/home-icon.svg" alt="">
                <p> Home</p>
            </a>
        </li>
        <li>
            <a routerLink="/movies">
                <img src="../../assets/img/explore-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a routerLink="/movies">
                <img src="../../assets/img/tv-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a routerLink="/movies">
                <img src="../../assets/img/download-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a routerLink="/profile">
                <img src="../../assets/img/profile-icon.svg" alt="">
            </a>
        </li>

    </ul>
</footer>
