@import '../../variables';

.welcome-page{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: $black;
    color: $white;
    width: 100%;
    padding: 1rem;

    .child-welcome-page{
        padding: 3rem;
    }

    .main-image{
        width: 30%;
        border-radius: 2rem;
    }
}
.title{
    margin-top: 2rem;
    font-size: 3rem;
}
.sub-title{
    margin-top: 2rem;
}
.get-started{
    margin-top: 2rem;
}
.auth-page{
    position: fixed;
    top: 0;
    background-color: #000000b8;
    height: 100vh;
    width: 100%;
}
.content-auth-page{
    max-width: 50rem;
    color: $white;
    position: fixed;
    background-color: $black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    
    .first-page{
        margin-top: 1rem;

        .container-input-label{
            margin-bottom: 1rem;
        }

        button{
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem 2rem;
            display: block;
            margin-inline: auto;
        }
        .no-password{
            color: $white;
            cursor: pointer;
        }

        .inputs{
            width: 100%;
            padding: 1rem;
        }

        .error-message{
            color: $red;
        }
    }

    .reset-pwd-message{
        margin-top: 1rem;
    }

    .close-img{
        cursor: pointer;
        width: 3rem;
    }
    .align-items{
        display: flex;
    }
}

.title-auth{
    margin-top: 1.5rem;
    text-align: center;
}

.social-network-connexion{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        padding: 0rem 1rem;
        width: 6rem;
        cursor: pointer;
    }
}

.account{
    cursor: pointer;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .desktop-element{
        display: none;
    }
    .welcome-page{
        height: auto;
        display: block;
        text-align: center;
        background-color: $black;
        color: $white;
        width: 100%;
        padding: 1rem;
    
        .child-welcome-page{
            padding: 3rem;
        }
    
        .main-image{
            height: 80%;
            width: inherit;
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
            border-radius: 4rem 4rem 0rem 4rem;
        }
    }
  }