<tp-movies-header></tp-movies-header>
<section class="homepage-container" *ngIf="movies$ | async as movie">
    <div class="search-input-container">
        <input class="search-input" type="text" placeholder="What are you watching today">
        <img src="../../assets/img/search-icon.svg" alt="">
    </div>


    <tp-movies-movie-carousel></tp-movies-movie-carousel>
    <ul>
        <li *ngFor="let movie of movie.results">
            <h2>{{ movie.title }}</h2>
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
            <h3 *ngIf="movie.adult">Adult movie: Yes</h3>
            <p>Release date : {{movie.release_date}}</p>
        </li>
    </ul>
    <button>Aled le bouton</button>
</section>

<tp-movies-footer></tp-movies-footer>
