@import '../../variables';

button {
    background-image: unset;
}

nav {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .pagination {
        display: flex;

        li {
            display: inline;

            &.active {
                button {
                    color: #fff;
                    background-image: $purple-gradient;
                }
            }

            &.disabled {
                button {
                    color: #777;
                    cursor: not-allowed;

                }

                span {
                    color: #777;
                }
            }

            button {
                padding: 5px 10px;
                color: $white;
                background-color: unset;
                border: none;
            }
        }
    }
}
