@import '../../variables';

.public-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    position: relative;
    background-color: $black;
    border: 1px solid $white;
    color: $white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.public-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.public-profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.public-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
    color: $white;
}

.films-content {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    color: $white;
}

.movie-img {
    width: 70%;
    height: 70%;
}

.profile-first-content-img {
    cursor: pointer;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 1rem;
}

.liked-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-title {
    color: $white;
    font-size: 1.3rem;
}