@import '../../variables';

.container {
    background-color: $black;
    min-height: 100vh;
    padding-bottom: 15vh;
}

.profile-fist-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .d-none {
        display: none;
    }
}

.profile-first-content-img {
    cursor: pointer;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.option-items-img {
    width: 10px;
    height: 10px;
}

.option-items-button {
    flex: 1;

    p {
        margin-top: .5rem;
    }
}

.user-name {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $white;
}

.user-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $grey;
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.option-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.membership-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.membership-title {
    color: $white;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.membership-titleh3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.membership-title4 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.membership-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: .5px solid $grey;
    margin-left: 20px;
    margin-right: 20px;
}

.go-back {
    cursor: pointer;
    background-color: $grey;
    position: absolute;
    left: 6.93%;
    right: 85.07%;
    top: 2.93%;
    bottom: 93.41%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.deconnection {

    p {
        padding: 1rem;
        color: white;
        width: fit-content;
        border-radius: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid $purple;
    }
}


.deconnection {

    text-decoration: none;
    margin-top: 2rem;
    display: block;

    p {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}
