<div class="container">
    <div routerLink="/movies" class="go-back">
        <img src="../../assets/img/arrow-left.svg" />
    </div>
<div class="profile-fist-content">
    <img (click)="fileInput.click()" class="profile-first-content-img" [src]="photoURL$" alt="user-image" />
    <input class="d-none" type="file" #fileInput (change)="changeImage($event)" accept="image/*">
    <h2 class="user-name">{{ userName }}</h2>
    <h3 class="user-email">{{ userEmail }}</h3>
</div>
    <div class="option-container">
        <div class="option-items">
            <button type="button" class="option-items-button">
                <a>
                    <img src="../../assets/img/bookmarkk.svg" alt="bookmark" />
                    <p>Bookmark</p>
                </a>
            </button>
        </div>
        <div class="option-items">
            <button type="button" class="option-items-button">
                <a>
                    <img src="../../assets/img/history.svg" alt="history" />
                    <p>History</p>
                </a>
            </button>
        </div>
        <div class="option-items">
            <button type="button" class="option-items-button">
                <a>
                    <img src="../../assets/img/statistic.svg" alt="statistic" />
                    <p>Statistic</p>
                </a>
            </button>
        </div>
    </div>

    <div class="membership-container">
        <h2 class="membership-title">Membership</h2>
        <button class="membership-wrapper">
            <div class="membership-div">
                <h3 class="membership-titleh3">Monthly Subscriptions</h3>
                <h4 class="membership-title4">Subscription until June 14 2021</h4>
            </div>
            <div>
                <img src="../../assets/img/arrow right.svg" alt="right arrow icon" />
            </div>
        </button>
    </div>

    <div class="membership-container">
        <h2 class="membership-title">Bill & Payment</h2>
        <button class="membership-wrapper">
            <div class="membership-div">
                <h3 class="membership-titleh3">Billing Details</h3>
                <h4 class="membership-title4">Visa **** ****1902</h4>
            </div>
            <div>
                <img src="../../assets/img/arrow right.svg" alt="right arrow icon" />
            </div>
        </button>
    </div>

    <hr />

    <div class="membership-container">
        <h2 class="membership-title">Account & Security</h2>
        <button class="membership-wrapper" routerLink="/account">
            <div class="membership-div">
                <h3 class="membership-titleh3">Your account</h3>
                <h4 class="membership-title4">Account settings, change number</h4>
            </div>
            <div>
                <img src="../../assets/img/arrow right.svg" alt="right arrow icon" />
            </div>
        </button>
    </div>

    <div>
        <a class="deconnection" routerLink="/">
            <p> Se déconnecter </p>
        </a>
    </div>

</div>
