<div *ngIf="movie$ | async as movie">
    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" loading="lazy" class="image-header" />
    <div routerLink="/movies" class="go-back">
        <img src="../../assets/img/arrow-left.svg" loading="lazy" />
    </div>
    <div class="share">
        <img src="../../assets/img/share-icon.svg" loading="lazy" />
    </div>
    <div class="singleFilmContent">
        <div class="singleFilmTitle">{{movie.original_title}}</div>
        <div class="single-movie-elements">
            <span class="movie-star"><img src="../../assets/img/movie_star.svg" loading="lazy" />{{movie.vote_average}}</span>
            <span class="movie-star">{{movie.status}}</span>
            <span *ngIf="movie.adult" class="movie-star">18+</span>
        </div>
        <ul class="genre-list">
            <li *ngFor="let aaa of movie.genres">
                {{aaa.name}}
            </li>
        </ul>
        <div>
            <h3 class="review">Story Line</h3>
            <p class="review-content">{{ movie.overview }}</p>
        </div>
        <div *ngIf="castMovie$ | async as cast">
            <ul class="cast-list">
                <li *ngFor="let bbb of cast.cast" class="castLi">
                    <img src="https://image.tmdb.org/t/p/w500{{bbb.profile_path}}" loading="lazy" class="cast-photos"/>
                    {{bbb.name}}
                </li>
            </ul>
        </div>
        <div class="like-container" *ngIf="userIsLogged$ | async as user; else elseBlock">
            <span class="vu" *ngIf="!seen; else seenBlock">Déjà vu ?</span>
            <ng-template #seenBlock class="vu">{{user}}</ng-template>
            <img src="../../assets/img/check-circle.svg" *ngIf="!seen; else iconSeenBlock" loading="lazy" class="like-movie" (click)="addMovieToLikes(movie)"/>
            <ng-template #iconSeenBlock class="like-movie"><img src="../../assets/img/check-circle-green.svg" loading="lazy" class="like-movie"/></ng-template>
        </div>
        <ng-template #elseBlock><img src="../../assets/img/like-heart.svg" loading="lazy" class="like-movie" (click)="addMovieToLikes(movie)"/></ng-template>
        <share-buttons theme="modern-dark"
            [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
            [showIcon]="true"
            [showText]="true"
            description="Angular Share Buttons"
            class="pt-5">
        </share-buttons>
    </div>
</div>