<div class="container" *ngIf="user$ | async as user">
    <div routerLink="/profile" class="go-back">
        <img src="../../assets/img/arrow-left.svg" />
    </div>
    <h3 class="title">Informations personnelles</h3>
    <div class="option-container">
        <div class="option-items">
            <p class="content">Email Adress</p>
            <input type="email" value="{{user.email}}" formControlName="email" required (click)="onClickUserInput()" />
        </div>
        <div class="option-items">
            <p class="content">Password</p>
            <input type="email" value="**********" formControlName="password" required (click)="onClickPasswordInput()"/>
        </div>
    </div>
</div>